@import url("responsive.css");
:root {
  --ungu: #573280;
  --putih: #ffffff;
  --hitam: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  padding: 3% 5%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.navbar a {
  color: var(--hitam);
  text-decoration: none;
  font-size: 18px;
}

.navbar .brand {
  width: 20%;
}

.navbar .brand .bar {
    background: none;
    border: none;
    color: var(--ungu);
    display: none;
}

.navbar .menu-container {
  width: 80%;
  float: right;
}

.navbar .menu-container .menu {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

.navbar .menu-container .menu .menu-item {
  display: inline;
  margin: 0 3%;
  text-transform: capitalize;
}

.navbar .menu-container .menu .signup {
  background-color: var(--ungu);
  padding: 1% 2%;
  border-radius: 5px;
}

.navbar .menu-container .menu .signup:hover a {
    color: var(--putih);
}

.navbar .menu-container .menu .signup .menu-link {
  color: var(--putih);
}

.navbar .menu-container .menu .menu-link:hover {
    color: var(--ungu);
}

.navbar .menu-container .menu .login {
  border: solid 2px var(--ungu);
  padding: 1% 2%;
  border-radius: 10px;
}

.navbar .menu-container .menu .login:hover {
    background-color: var(--ungu);
    transition: 0.5s;
}

.navbar .menu-container .menu .login:hover a {
    color: var(--putih);
}

.homepage .flex {
  display: flex;
  flex-flow: row nowrap;
}

.homepage .flex .text {
  padding: 2% 5%;
  width: 30%;
}

.homepage .flex .text .title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 40px;
}

.homepage .flex .text .subtitle {
  font-size: 18px;
  text-transform: capitalize;
}

.homepage .flex .text .readmore {
  display: inline-block;
  margin: 5% 0;
  background-color: var(--ungu);
  color: var(--putih);
  text-decoration: none;
  text-transform: capitalize;
  padding: 3% 10%;
  border-radius: 10px;
  font-size: 20px;
}

.homepage .flex .image {
  width: 70%;
}

.homepage .flex .image img {
  width: 100%;
  height: 800px;
}

.homepage .flex .image .info {
  position: absolute;
  top: 120px;
  right: 50px;
  text-transform: capitalize;
  background: rgba(87, 50, 128, 0.5);
  color: var(--putih);
  font-size: 14px;
  font-weight: 600;
  padding: 0.5% 2%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.product-dot {
  width: 20px;
  height: 20px;
  background-color: var(--putih);
  border: solid 4px var(--ungu);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.product-item {
  width: 15%;
  background-color: var(--putih);
  padding: 1%;
  position: absolute;
  border-radius: 10px;
  display: none;
}

.product-item .product-title {
  text-transform: capitalize;
  color: var(--ungu);
  font-weight: 600;
  margin-bottom: 0;
}

.product-item .detail {
  display: block;
  background-color: var(--ungu);
  color: var(--putih);
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 10px;
  padding: 5%;
  text-align: center;
  font-weight: 600;
}

.homepage .flex .image .dot-one {
  top: 150px;
  right: 610px;
}

.homepage .flex .image .item-one {
  top: 200px;
  right: 510px;
}

.homepage .flex .image .dot-two {
  top: 600px;
  right: 550px;
}

.homepage .flex .image .item-two {
  top: 520px;
  right: 297px;
}

.homepage .flex .image .dot-three {
  top: 470px;
  right: 300px;
}

.homepage .flex .image .item-three {
  top: 300px;
  right: 40px;
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel-content {
  display: none;
}

.carousel-content img {
    width: 100%;
    height: 700px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--ungu);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
    left: 50px;
}

.next {
  right: 50px;
}

.prev:hover,
.next:hover {
  background-color: var(--ungu);
  transition: 0.5s;
  color: var(--putih);
  border-radius: 50%;
}


.carousel .content-one .product .dot-carousel-one {
    top: 330px;
    left: 150px;     
}

.carousel .content-one .product .dot-carousel-two {
    top: 330px;
    left: 620px;
}

.carousel .content-one .product .dot-carousel-three {
    top: 50px;
    right: 180px;
}

.carousel .content-one .product .item-carousel-one {
    top: 190px;
    left: 200px;
}


.carousel .content-one .product .item-carousel-two {
    top: 190px;
    left: 700px;
}

.carousel .content-one .product .item-carousel-three {
    right: 250px;
    top: 10px;
}

.carousel .content-two .product #dot-carousel-one {
    bottom: 300px;
    left: 650px;  
}

.carousel .content-two .product #item-carousel-one {
    top: 100px;
    left: 700px;
}

