@import url("responsive.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
  --ungu: #573280;
  --putih: #ffffff;
  --hitam: #000000;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  padding: 25px 40px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  text-transform: capitalize;
}

.navbar a {
  color: var(--hitam);
  text-decoration: none;
  font-size: 16px;
}

.navbar .brand {
  width: auto;
}

.navbar .brand a {
  color: var(--ungu);
  font-weight: bold;
}

.navbar .brand .bar {
  background: none;
  border: none;
  color: var(--ungu);
  display: none;
}

.navbar .menu-container {
  width: auto;
}

.navbar .menu-container .menu {
  margin: 0;
  list-style-type: none;
}

.navbar .menu-container .menu .menu-item {
  display: inline;
  margin: 0 20px;
  text-transform: capitalize;
}

.navbar .account {
  margin-left: auto;
}

.navbar .account a:first-child {
  border: solid 1px var(--ungu);
  color: var(--ungu);
  border-radius: 5px;
  padding: 10px 20px;
}

.navbar .account a:first-child:hover {
  background-color: var(--ungu);
  color: #fff;
  transition: 0.5s;
}

.navbar .account a:last-child {
  background: var(--ungu);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.homepage .flex {
  display: flex;
  flex-flow: row nowrap;
}

.homepage .flex .text {
  padding: 50px 40px 50px 40px;
  width: 40%;
}

.homepage .flex .text .title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
}

.homepage .flex .text .subtitle {
  margin: 20px 0;
  font-size: 18px;
  text-transform: capitalize;
}

.homepage .flex .text .readmore {
  display: inline-block;
  background-color: var(--ungu);
  color: var(--putih);
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
}

.homepage .flex .text .info {
  margin-top: 20px;
  color: var(--ungu);
  text-transform: capitalize;
}

.homepage .flex .image {
  width: 60%;
  height: 560px;
}

.homepage .flex .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage .flex .image .info {
  position: absolute;
  top: 120px;
  right: 50px;
  text-transform: capitalize;
  background: rgba(87, 50, 128, 0.5);
  color: var(--putih);
  font-size: 14px;
  font-weight: 600;
  padding: 0.5% 2%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.product-dot {
  width: 20px;
  height: 20px;
  background-color: var(--putih);
  border: solid 4px var(--ungu);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.product-item {
  width: 15%;
  background-color: var(--putih);
  padding: 1%;
  position: absolute;
  border-radius: 10px;
  display: none;
  z-index: 100;
}

.product-item .product-title {
  text-transform: capitalize;
  color: var(--ungu);
  font-weight: 600;
  margin-bottom: 0;
}

.product-item .detail {
  display: block;
  background-color: var(--ungu);
  color: var(--putih);
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 10px;
  padding: 5%;
  text-align: center;
  font-weight: 600;
}

.homepage .flex .image .dot-one {
  top: 45vh;
  right: 610px;
}

.homepage .flex .image .item-one {
  top: 25vh;
  right: 25vw;
}

.homepage .flex .image .dot-two {
  top: 600px;
  right: 550px;
}

.homepage .flex .image .item-two {
  top: 70vh;
  right: 21vw;
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel-content {
  display: none;
}

.carousel-content img {
  width: 100%;
  height: 700px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--ungu);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 50px;
}

.next {
  right: 50px;
}

.prev:hover,
.next:hover {
  background-color: var(--ungu);
  transition: 0.5s;
  color: var(--putih);
  border-radius: 50%;
}

.carousel .content-one .product .dot-carousel-one {
  top: 330px;
  left: 150px;
}

.carousel .content-one .product .dot-carousel-two {
  top: 330px;
  left: 620px;
}

.carousel .content-one .product .dot-carousel-three {
  top: 50px;
  right: 180px;
}

.carousel .content-one .product .item-carousel-one {
  top: 190px;
  left: 200px;
}

.carousel .content-one .product .item-carousel-two {
  top: 190px;
  left: 700px;
}

.carousel .content-one .product .item-carousel-three {
  right: 250px;
  top: 10px;
}

.carousel .content-two .product #dot-carousel-one {
  bottom: 300px;
  left: 650px;
}

.carousel .content-two .product #item-carousel-one {
  top: 100px;
  left: 700px;
}
